/* fondos
 * http://www.falconmasters.com/recursos-herramientas/6-sitios-web-texturas-fondos/
 */

body{
	background-image: url(../imgs/connectwork.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

.alto{
	height: 800px;
}

.menu{
	margin-top: 5px;
	z-index: 1000;
}
.marginAlto{
	margin-top: 60px!important;
}
nav{
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-radius: 5px;
}
.cabecera{
	/*padding-top: 35px;
	padding-bottom: 25px;*/
	width: 100%!important;
	height: 30vh;
	background-image: url(../imgs/qbkls.png);
	background-attachment: fixed;
	border-radius: 0 0 10px 10px;
	font-family: 'Roboto Mono', monospace;
	overflow: hidden;
}
.centerVer{
	padding: 7%;
}

.cabecera h1{
	font-size: 3rem !important;
	color: #717171 !important;
}

.contenido{
	font-family: 'Roboto', sans-serif;
	color: #F1F1F1;
	margin-bottom: 80px;
}
.navbar-brand{
	color: rgba(255,255,255,.5)!important;
}
#linkInicio:hover{
	color: #fff!important;
}
.menu span{
	cursor: pointer;
}
.menu li span:hover{
	color: #fff!important;
	cursor: pointer;
}
.subMenu {
	background-color: #343a40!important;
}
.subMenu span{
	color: rgba(255,255,255,.5);
}
.subMenu span:hover{
	background-color: #343a40!important;
	color: #fff;
	cursor: pointer;
}
.btnDark{
	background-color: rgb(255,255,255);
}
.btnDark:hover{
	background-color: #333;
	color: #fff;
	border: 1px solid white;
}

/* Estilos de la página de inicio */

.imgTraje{
	border-radius: 50%;
}

.borde{
	border: 1px solid white;
}

/* Estilos de la página Experiencias */
.acordionCuerpo{
	background-image: url(../imgs/background-dark.png)!important;
	background-attachment: fixed;
	color: rgb(255,255,255);
}
.carta{
	border: none!important;
}
.cartaCabecera{
	padding: 0!important;
}
.btnLink{
	color: #131212!important;
	font-size: 1.25rem!important;
	width: 100%;
	background-image: url(../imgs/qbkls.png);
}
.btnLink:focus, .btnLink:hover{
	text-decoration: none!important;
}


/* Estilos dl formulario */
.transicion{
	transition: .5s!important;
}


/* Estilos del mensaje final */ 
.imgBigote{
	width: 80px;
	height: 40px;
	margin-left: 10px;
}

.msjFinal{
	width: 100%;
	height: 7vh;
	background-image: url(../imgs/qbkls.png);
	background-attachment: fixed;
	color: #343a40;
	border-radius: 30px 0 30px 0;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}
.msjFinal span{
	font-family: 'Roboto Mono', monospace;
	font-size: 1.20rem;
}